﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse { background-color: #ff6a00 !important;  }

.navbar-brand {  
  float: left;  
  padding: 15px 15px;  
  font-size: 40px;  
  line-height: 20px;  
  font-family:'Comic Sans MS';
  
}
.navbar-inverse .navbar-brand
{
    color: #FFF;
}
